.page-header
  = link_to new_movie_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Movie
  %h1 Listing movies
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
        %th
        %th
    %tbody
      = content_tag_for(:tr, @movies) do |movie|
        %td= link_to 'Show', movie
        %td= link_to 'Edit', edit_movie_path(movie)
        %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }
